body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.navbar {
    margin-bottom: 0px;
}

#game {
    display: block;
    height: 600px;
    margin-top: 50px;
}

#game canvas {
    display: block;
    margin: 0 auto;
}

#startMenu .btn, #pauseMenu .btn {
    margin: 15px 0;
}

#startMenu h1, #pauseMenu h1 {
    text-align: center;
}

input[type="file"] {
    display: none;
}

#pauseMenu, #songForm, #songList {
    display: none;
}

#songList .panel-body {
    background-color: #222;
}

#songList .list-group a {
    margin-bottom: 10px;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
}

.options {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
