body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.navbar {
    margin-bottom: 0px;
}

#game {
    display: block;
}

#game canvas {
    display: block;
    margin: 0 auto;
}

#songList {
    display: block;
    margin: 40px auto;
    width: 80%;
}

#songList .panel-body {
    background-color: #222;
}

#songList .list-group a {
    margin-bottom: 10px;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(50, 50, 50, 0.5);
}

.options {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
